/* 1)static (by default)
2) relative
3) absolute
4) fixed

1) top
2) bottom
3) left
4) right */

#div{
    border: 1px solid;
    height: 200px;
    width: 600px;
}

#one{
    border: 1px solid;
    height: 150px;
    width: 100px;
    margin: 20px;
    display:inline-block;
    background-color: aqua;
    position: relative;
    top:20px;
    z-index: 10;
}
#two{
    border: 1px solid;
    height: 150px;
    width: 100px;
    margin: 20px;
    display:inline-block;
    background-color: gold;
    position: relative;
    right: 100px;
    z-index: 4;
}
#three{
    border: 1px solid;
    height: 150px;
    width: 100px;
    margin: 20px;
    display:inline-block;
    background-color: navy;
    position: relative;
    right: 200px;
    top:10px;
    z-index: 1;

}