div {
    background-color: peachpuff;
    display: inline-block;
    /* height: 120px; */
    /* width: 120px; */
    border: 2px solid;
    margin:5px;
}
main{
    border: 3px solid;
    display: grid;
    height: 400px;
    grid-template-columns: 250px 250px;
    /* grid-template-rows: 150px 10px; */
    grid-column-gap: 10px;
    grid-row-gap: 50px;
    justify-content: center;
    align-items: center;
}