#bg {
    background-color: yellow;
    background-image: url("bird.webp"), url("bird1.jpg");
    background-repeat: no-repeat;
    /* background-position: top right; */
    /* background-position: 120px 200px; */
    background-position: bottom, top;
    background-size: 20% 20%;
    background-attachment: fixed;
}

