ul{
    list-style-type: none;
    /* list-style-type: desc; */
    /* list-style-type: disk; */
    /* list-style-type: circle; */
    list-style-type: square;
}

ol{
    list-style: decimal;
    list-style: gr;
}

ol li{
    color: green;
    background-color: yellow
}