/* 
block
1) new line
2) full width (100% screen)
3) apply height & width

inline
1) not start in new line
2) dosen't take full width
3) can't specify height & width

inline-block
1) not start new line
2) doset take full width
3) height & width */

h1{
    border: 1px solid black;
    font-size:  20px;
    height: 100px;
    display: inline;
}

p{
    border: 1px solid black;
    font-size:  20px;
    /* height: 100px; */
    display: inline-block;

}

i{
    border: 1px solid black;
    font-size:  20px;
    /* height: 100px; */
    display: inline-block;

}