h1{
    font-family: 'Rubik Maze', cursive;
    font-size: 10px;
    /* font-style: italic; */
    /* font-variant: small-caps; */



}

p{
    font-weight: 20px;
    border: 1px solid;
    height: 200px;
    width: 200px;

    
}