div {
    background-color: khaki;

    height: 300px;
    width: 300px;
    border: 1px solid;
    transition-property: background-color,width, height;
    transition-duration:1s;
}

div:hover{
    background-color:burlywood;
    width: 400px;
    height: 400px;
}