/* p::first-letter{
    font-size: 100px;
    color: brown;
} */

/* p::first-line{
    font-size: 100px;
    color: brown;
} */

/* p::before{
    content: url("bird1.jpg");
} */

/* p::after{
    content: url("bird1.jpg");
} */

p::selection{
    color: red;
    /* background-color: yellow; */
}