div {
    background-color: peachpuff;
    display: inline-block;
    height: 120px;
    width: 120px;
    border: 2px solid;
    margin:5px;
}
main{
    border: 3px solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}